body {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-game img {
  margin-bottom: 15px;
}

.header-game span.right {
  color: #290661;
}

.header-game img.es {
  animation: calculateRight .5s ease;
}

.header-game img.wrong {
  animation: calculateWrong .5s ease;
}

.header-example {
  font-size: 5.5vw;
  font-weight: 500;
}

.header-example.swipe {
  animation: swipeExample .7s linear;
}

.answer {
  cursor: pointer;
  position: relative;
  display: flex;
  font-size: 2rem;
  overflow: hidden;
  background-color: #e9ecef;
  margin-bottom: 15px;
}

.answer-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: #290661;
  color: transparent;
  width: 100%;
  transition: width .2s linear;
}

.answer-bar.animate {
  animation: progressBar 3500ms linear forwards;
}

.answer-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  transition: color .025s ease-in-out;
}

.answer-text.half {
  color: #290661 !important;
}

.start-game {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(20px);
  z-index: 10;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
}

.start-game.open {
  pointer-events: all;
  opacity: 1;
}

@keyframes progressBar {
  0% {width: 100%}
  100% {width: 0%;}
}

@keyframes calculateRight {
  0% {transform: translateY(0px);}
  30% {transform: translateY(20px);}
  70% {transform: translateY(-15px);}
  100% {transform: translateY(0px);}
}

@keyframes calculateWrong {
  0% {transform: translateX(0px);}
  30% {transform: translateX(20px);}
  70% {transform: translateX(-15px);}
  100% {transform: translateX(0px);}
}

@keyframes swipeExample {
  0%,100% {transform: translateX(0);}
  50% {transform: translateX(-150vw);}
  50.000001% {transform: translateX(100vw);}
}

@media (max-width: 899px) {
  .header-game img {
    width: 200px !important;
  }
  .header-game .text-white {
    font-size: 6.5vw !important;
  }
}

@media (max-width: 700px) {
  .header-game img {
    width: 230px !important;
  }
  .header-game .text-white {
    font-size: 3.5rem !important;
  }
  .answer {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .header-game img {
    width: 190px !important;
  }
  .header-game .text-white {
    font-size: 3.3rem !important;
  }
  .answer {
    margin-bottom: 15px;
    font-size: 1.7rem;
  }
}

@media (max-width: 400px) {
  .record, .navbar a {
    font-size: 1.15rem !important;
  }
}